.register{
    text-align: center;
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    background-color: cyan;
    border-radius: 9px;
}
.block {
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
}
.check__inner{
    margin-top: 20px;
    border-bottom: 1px solid black;
    text-align: start;
}
.block input{
    padding: 10px;
    background-color: magenta;
    border-radius: 6px;
    width: 250px;
}